/* \MicroOndas.Interface\reactapp\src\componentes\forms\campo\index01.module.css */
.index01 {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

    .index01 > label {
        color:yellow;
        margin-bottom: 0.5%;
    }
    .index01 > input {
        color: yellow;
        background-color: black;
        margin-bottom: 0.5%;
    }
    .index01 > span {
        color: white;
        font-style: italic;
    }
