@{
    ViewData["Title"] = "Index";
}


<style>
    
    *
    {
        width:100%;
        float: left;
    }
    
    div.microondascorpo
    {
        width:92%;        
        margin: 4%;
    }

        div.microondascorpo > div.opcoes 
        {
            float: left;
            height: 100%;
            width: 70%;        
        }

        div.microondascorpo > div.opcoesesquerda 
        {            
            float: right;            
            height: 100%;
            width: 30%;            
        }                                 

        div.microondascorpo  > div.opcoesesquerda > div.teclado > div.linha > div.botao 
        {
             float:left;
             border: 1.5px solid black;
             border-radius: 1px;
             padding: 10px;
             margin:2px;
        }        

        div.microondascorpo > div.opcoes > div
        {
            
        }       
        
        div.microondascorpo > div.opcoes > div.timerpotencia > div 
        {            
            width: 50%;
        }

        div.microondascorpo > div.opcoes > div.timerpotencia > div:nth-child(1)
        {
            padding-right:1%;
        }
        
        div.microondascorpo > div.opcoes > div.timerpotencia > div > div:nth-child(1) > input
        {
            width:4%;
        }

        div.microondascorpo > div.opcoes > div.timerpotencia > div > div:nth-child(3)
        {
            width:40%;
        }

        div.microondascorpo > div.opcoesesquerda  > div.teclado > div > div
        {
            width:11%;
        }

        div.microondascorpo > div.opcoes > div.ativacao > div
        {
            width:20%;
            margin-right: 2%;
        }

        div.microondascorpo > div.opcoes > div.programas > div
        {
            margin-bottom:2%;
        }

        div.logincadastrocorpo 
        {                        
            width: 92%;            
            margin: 4%;
        }

        div.logincadastrocorpo > div.cadastrarcorpo
        {            
            width: 30%;
        }

        div.logincadastrocorpo > div.logincorpo 
        {            
            width: 30%;
        }

        div.logincadastrocorpo > div > div:nth-child(2)
        {
            margin-top:2%;
        }

        div.logincadastrocorpo > div > div:nth-child(3) 
        {
            width:50%;
        }

        div.logincadastrocorpo > div > div:nth-child(5) 
        {
            width: 50%;
        }

        div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(7) > input
        {
            width: 50%;
        }

        div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(8) 
        {
            margin-top: 4%;
            width: 50%;
        }

        div.logincadastrocorpo > div.logincorpo > div:nth-child(6) > button
        {
            margin-top: 4%;            
            width: 50%;
        }

        div.logincadastrocorpo > div.cadastrarcorpo > div.mensagem
        {
            margin-top: 2%;
        }

        div.logincadastrocorpo > div.logincorpo > div.mensagem
        {
            margin-top: 2%;
        }

        div.microondascorpo > div.opcoes > div.progresso
        {
           margin-top: 2%;
           margin-bottom: 2%;
        }

        div.microondascorpo > div.opcoes > div.ativacao
        {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        div.microondascorpo > div.opcoesesquerda > div.cadastroprograma
        {            
            margin-top: 4%;        
        }

        div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(14) > button        
        {
            margin-top: 4%;
            width: 50%;
        }

        div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div.mensagem
        {
            margin-top: 4%;
        }
    
</style>

<div class="logincadastrocorpo">
    <div class="cadastrarcorpo">
        <div>
            <label>Cadastrar:</label>
        </div>
        <div>
            <label>Usuário</label>
        </div>
        <div>
            <input type="text"/>
        </div>
        <div>
            <label>Senha</label>
        </div>
        <div>
            <input type="password" />
        </div>
        <div>
            <label>Confirma Senha</label>
        </div>
        <div>
            <input type="password" />
        </div>
        <div>
            <button>Cadastrar</button>
        </div>
        <div class="mensagem">
            
        </div>
    </div>
    <div class="logincorpo">
        <div>
            <label>Logar:</label>
        </div>
        <div>
            <label>Usuário</label>
        </div>
        <div>
            <input type="text"/>
        </div>
        <div>
            <label>Senha</label>
        </div>
        <div>
            <input type="password" />
        </div>
        <div>
            <button>Logar</button>
        </div>
        <div class="mensagem">
        </div>
    </div>
</div>
<div class="microondascorpo">
    <div class="opcoes">        
        <div class="timerpotencia">
            <div class="timer">
                <div><input type="radio" class="radio" value="0" name="radiogroup"></div>
                <div>
                  <label>Timer:</label>
                </div>
                <div>
                   <input type="text" class="dadosdigitais"/>
                </div>
            </div>
            <div class="potencia">
                <div><input type="radio" class="radio" value="1" name="radiogroup"></div>
                <div>
                    <label>Potência:</label>
                </div>
                <div>
                     <input type="text" class="dadosdigitais" />
                </div>
            </div>
            <input class="index" type="hidden"/>
        </div>
        <div class="progresso">
            
        </div>        
        <div class="ativacao">
            <div>
                <button class="aquecimento">Aquecimento</button>
            </div>
            <div>
                <button class="iniciorapido">Inicio Rápido</button>
            </div>
            <div>
                <button class="pausa">Pausa/Cancelamento</button>
            </div>
        </div>
        <div class="programas">

        </div>
    </div>
    <div class="opcoesesquerda">
      <div class="teclado">
        <div class="linha">
            <div class="botao">7</div>
            <div class="botao">8</div>
            <div class="botao">9</div>
        </div>
        <div class="linha">
            <div class="botao">4</div>
            <div class="botao">5</div>
            <div class="botao">6</div>
        </div>
        <div class="linha">
            <div class="botao">1</div>
            <div class="botao">2</div>
            <div class="botao">3</div>
        </div>
        <div class="linha">
            <div class="botao">0</div>            
        </div>
     </div>
     <div class="cadastroprograma">
         <div>
             <label>Cadastro de Programa:</label>
         </div>
         <div>
             <label>Nome:</label>
         </div>
         <div>
             <input type="text" class="nome"/>
         </div>
         <div>
                <label>Alimento:</label>
         </div>
         <div>
                <input type="text" class="alimento" />
         </div>
         <div>
                <label>Tempo: (00:00)</label>
         </div>
         <div>
                <input type="text" class="tempo" />
         </div>
         <div>
            <label>Potencia: (1-10)</label>
         </div>
         <div>
            <input type="text" class="potencia" />
         </div>
            <div>
                <label>Progresso: ($,#,%,etc.)</label>
            </div>
            <div>
                <input type="text" class="progresso" />
            </div>
         <div>
             <label>Instruções:</label>
         </div>
         <div>
             <textarea class="instrucoes"></textarea>
         </div>
         <div>
             <button>Cadastrar</button>
         </div>
         <div class="mensagem">
             
         </div>
     </div>
    </div>
</div>

<script>
    
    //Apaga token
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
    
    // ativa ou desativa timer de progresso.
    var ativatimer = false;
    
    $(document).ready(() => 
    {       
                
        $(".radio:first").trigger("click");

        $(".dadosdigitais").on("keydown",(event) =>
        {
            event.preventDefault();
        });

        listaprogramas();

        $("div.microondascorpo > div.opcoesesquerda > div.teclado > div.linha > div.botao").on("click",(event) =>
        {
            var obj = event.target;
            var tipo = $(".radio:checked").val();

            //Timer
            if(tipo == 0)
            {
                var valor = $(".dadosdigitais:first").val();
                                
                if(valor.indexOf(":") > -1)
                {
                    var split = valor.split(":");                    
                    valor = split.join("").toString();
                }
                
                valor += $(obj).text();                
                
                if(valor.length > 3)
                {
                    valor = "";
                }
                
                if(valor.length > 2)
                {
                    var pri = valor.substr(0,1);
                    var seg = valor.substr(1,2);

                    valor = pri + ":" + seg;
                }
                
                $(".dadosdigitais:first").val(valor);
            }

            //Potência
            if(tipo == 1)
            {
                $(".dadosdigitais:last").val($(obj).text());                
            }
        });

        //Aquecimento
        $("button.aquecimento:first").on("click",(event) => 
        {               
            var _id = $("div.timerpotencia > input.index:first").val();
                _id = _id == "" ? -1 : parseInt(_id);
            
            var timer = $(".dadosdigitais:first").val();
            var potencia = $(".dadosdigitais:last").val();
            potencia = potencia == "" ? "10" : potencia;
            
            if(timer == "" || potencia == "")
            {
                $(".progresso:first").html("<span style='color:red'>Timer e Potência devem ser preenchidos.</span>");
                return;
            }

            var dados = 
            {                
                id:_id,
                tempo: timer,
                potencia: potencia
            }; 
            
            iniciaaquecimento(dados);            
        });

        //inicio rápido
        $("button.iniciorapido:first").on("click",(event) => 
        {            
            var _id = $("div.timerpotencia > input.index:first").val();
                _id = _id == "" ? -1 : parseInt(_id);
            
            var dados =
            {                
                id:_id,
                tempo: "0:30",
                potencia: "10"
            };

            iniciaaquecimento(dados);            
        });
        
        //Pausa-Cancelamento
        $("button.pausa:first").on("click",(event) => 
        {
            var tokenexist = document.cookie.split('; ').find(row => row.startsWith('token=')) === undefined;
            var token = !tokenexist ? document.cookie.split('; ').find(row => row.startsWith('token=')).split('=')[1] : "";
            
            $.ajax({
                url: '/api/Pausa',
                type: 'GET',
                headers: {
                'Authorization': 'Bearer ' + token
                },
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function(response)
                {                    
                    
                    if(response.mensagem.indexOf("span") > -1)
                    {
                     $(".progresso:first").html(response.mensagem);
                    }
                                        
                    if(response.pararProgresso)
                    {
                        ativatimer = false;

                        //Limpa campos
                        $(".dadosdigitais").val("");
                    }
                },
                error: function(xhr, status, error)
                {
                   if(xhr.status == 401)
                    {
                        $(".progresso:first").html("<span style='color:red'>Token inválido ou expirado.</span>");
                        ativatimer = false;
                    }
            }
                });                
        });       
        
                
        //Ativa Programas 
        $("div.microondascorpo > div.opcoes > div.programas").on("click",(event) => 
         {
             var obj = event.target;
             obj = $(obj).parent();
             obj = $(obj).parent();             

             var id = $(obj).find("div:first").prop("id");
             $("div.timerpotencia > input.index:first").val(id);

             var tempo = $(obj).find("div > label").eq(3).html().substr(8);
             var potencia = $(obj).find("div > label").eq(4).html().substr(10);             
             
             $(".dadosdigitais:first").val(tempo);
             $(".dadosdigitais:last").val(potencia);
             $("div.timerpotencia > input.index:first").val(id);

             $("button.aquecimento:first").trigger("click");
         });

         //botão cadastrar
         $("body > div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(8) > button").on("click",(event) => 
         {
             var _usuario = $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(3) > input[type=text]").val();
             var _senha = $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(5) > input[type=text]").val();
             var _confsenha = $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(7) > input[type=text]").val();

             var dados= 
             {
                 login: _usuario,
                 senha: _senha,
                 resenha: _confsenha
             };

            $.ajax({
                url: '/api/Cadastrar',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(dados),
                success: function(response)
                {
                    $("div.logincadastrocorpo > div.cadastrarcorpo > div.mensagem").html(response.mensagem);

                    $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(3) > input[type=text]").val("");
                    $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(5) > input[type=text]").val("");
                    $("div.logincadastrocorpo > div.cadastrarcorpo > div:nth-child(7) > input[type=text]").val("");
                }
             });
         });

         //botão logar
         $("div.logincadastrocorpo > div.logincorpo > div:nth-child(6) > button").on("click",(event) =>
         {
             var _usuario = $("div.logincadastrocorpo > div.logincorpo > div:nth-child(3) > input[type=text]").val();
             var _senha = $("div.logincadastrocorpo > div.logincorpo > div:nth-child(5) > input[type=text]").val();

             var dados=
             {
                 login: _usuario,
                 senha: _senha                 
             };

             $.ajax({
                url: '/api/Logar',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(dados),
                success: function(response)
                {   
                    
                    document.cookie = "token=" + response.token + "; path=/";
                    $("div.logincadastrocorpo > div.logincorpo > div.mensagem").html(response.mensagem);

                    $("div.logincadastrocorpo > div.logincorpo > div:nth-child(3) > input[type=text]").val("");
                    $("div.logincadastrocorpo > div.logincorpo > div:nth-child(5) > input[type=text]").val("");
                }
             });
             
         });

         //Mascara campo tempo
         $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(7) > input").on("keyup",(event) => 
         {
             var obj = event.target;

             var _val = $(obj).val();
             var arr = _val.split("");
             var arrformat = [/[0-9]|:/gm,/[0-9]|:/gm,":",/[0-9]|:/gm,/[0-9]|:/gm];
             var retorno = "";

             for(var i in arr)
             {
                 if(arrformat[i] === undefined)
                 {
                     continue;
                 }
                 
                 var format = RegExp(arrformat[i]);                 
                                                     
                 if(format.test(arr[i]))
                 {
                    retorno += arr[i];
                 }                                  
             }
             
             $(obj).val(retorno);             
         });

         //Máscara campo potência
         $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(9) > input").on("keyup",(event) => 
         {
             var obj = event.target;

             var _val = $(obj).val();
             var arr = _val.split("");
             var arrformat = [/[0-9]|:/gm,/[0]|:/gm];
             var retorno = "";

             for(var i in arr)
             {
                 if(arrformat[i] === undefined)
                 {
                     continue;
                 }

                 var format = RegExp(arrformat[i]);
                 
                 if(format.test(arr[i]))
                 {
                    retorno += arr[i];
                 }
             }

             $(obj).val(retorno);
         });

         //Máscara campo caracter
         $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(11) > input").on("keyup",(event) =>
         {
             var obj = event.target;

             var _val = $(obj).val();
             var arr = _val.split("");
             var arrformat = [/[^0-9a-zA-Z ]/gm];
             var retorno = "";

             for(var i in arr)
             {
                 if(arrformat[i] === undefined)
                 {
                     continue;
                 }

                 var format = RegExp(arrformat[i]);

                 if(format.test(arr[i]))
                 {
                    retorno += arr[i];
                 }
             }

             $(obj).val(retorno);
         });

         //Cadastrar Programa
         $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(14) > button").on("click",(event) =>
         {
             var obj = event.target;

             var _nome = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(3) > input").val();
             var _alimento = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(5) > input").val();
             var _tempo = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(7) > input").val();
             var _potencia = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(9) > input").val();
             var _progresso = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(11) > input").val();
             var _instrucoes = $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div:nth-child(13) > textarea").val();

             var dados = 
             {
                    nome: _nome,
                    alimento: _alimento,
                    tempo: _tempo,
                    potencia: _potencia == "" ? 0 : parseInt(_potencia),
                    progresso: _progresso,
                    instrucoes: _instrucoes
             }
                                       
             var tokenexist = document.cookie.split('; ').find(row => row.startsWith('token=')) === undefined;
             var token = !tokenexist ? document.cookie.split('; ').find(row => row.startsWith('token=')).split('=')[1] : "";
             
             $.ajax({
                url: '/api/CadastrarPrograma',
                type: 'POST',
                headers: {
                  'Authorization': 'Bearer ' + token
                },
                contentType: 'application/json',
                data: JSON.stringify(dados),
                success: function(response)
                {
                    $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div.mensagem").html(response.mensagem);
                    listaprogramas();
                },
                error: function(xhr, status, error)
                {
                    if(xhr.status == 401)
                    {
                        $("div.microondascorpo > div.opcoesesquerda > div.cadastroprograma > div.mensagem").html("<span style='color:red'>Token inválido ou expirado.</span>");
                        ativatimer = false;
                    }
                }
             });
             
         });
    });

    var iniciaaquecimento = (dados) =>
    {        
        var tokenexist = document.cookie.split('; ').find(row => row.startsWith('token=')) === undefined;        
        var token = !tokenexist ? document.cookie.split('; ').find(row => row.startsWith('token=')).split('=')[1] : "";
                
                
          $.ajax({
           url: '/api/Aquecimento',
           type: 'POST',
           headers: {
                'Authorization': 'Bearer ' + token
             },
           contentType: 'application/json',
           data: JSON.stringify(dados),
           success: function(response)
           {               

               if(response.mensagem.indexOf("span") > -1)
               {
                $(".progresso:first").html(response.mensagem);
               }
                    
                // Ativa timer de progresso
                if(!ativatimer)
                {
                   ativatimer = true;
                   delayTimer();
                }                
           },
           error: function(xhr, status, error) 
            {
                if(xhr.status == 401)
                {
                    $(".progresso:first").html("<span style='color:red'>Token inválido ou expirado.</span>");
                    ativatimer = false;
                }                
            }
          });
        
    }
    //Timer que valida progresso do aquecimento
    
    var delayTimer = async () =>
    {
        do
        {
               if(!ativatimer)
               {
                   break;
               }
                // Chama API para verificar progresso
             
                var _id = $("div.timerpotencia > input.index:first").val();
                _id = _id == "" ? -1 : parseInt(_id);

               var dados =  
               {
                   id: _id
               }
                
                $.ajax({
                url: '/api/Progresso',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dados),
                success: function(response)
                {                    
                    
                    if(response.mensagem.indexOf("span") > -1)
                    {
                     $(".progresso:first").html(response.mensagem);

                     //Zera id de programa
                     if(response.mensagem == "<span style='color:green'>Aquecimento finalizado!</span>")
                     {
                         $("div.timerpotencia > input.index:first").val("-1");
                     }

                    }

                    if(response.pararProgresso)
                    {
                        ativatimer = false;                        
                    }                    
                }
                });
                
              await new Promise(resolve => setTimeout(resolve, 1000));
        }
        while(ativatimer);
    };
    
    //Carrega Programas do BD
    var listaprogramas = () => 
    {        
        $.ajax({
            url: '/api/DadosPrograma',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({}),
            success: function(response)
            {
                 $(".programas:first").html(response.mensagem);
            }
        });
    };
    
</script>