@{
    ViewData["Title"] = "MicroOndas";
}

<style>
    .corpo_mensagem {
        margin-left: 2%;
    }

    .microondas {
        background-color: black;
        width: 96%;
        margin: 2%;
    }

    .nivel01 {
    }

    .nivel01.esquerda {
        width: 60%;
    }

    .nivel01.direita {
        float: right;
        width: 40%;
    }

    .digital-display {
        background-color: transparent;
        color: yellow;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding: 10px;
        border: 1px solid yellow;
    }

    .custom-button {
        background-color: black;
        color: yellow;
        border: 2px solid yellow;
        padding: 10px 20px;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        cursor: pointer;
        margin: 5px;
        width: 48%;
    }

    .custom-button:hover {
        background-color: yellow;
        color: black;
    }

    .teclado {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 20px;
    }

    .teclado-button {
        background-color: black;
        color: yellow;
        border: 2px solid yellow;
        padding: 15px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        cursor: pointer;
        text-align: center;
        width: 30%;
        margin: 1%;
    }

    .teclado-button:hover {
        background-color: yellow;
        color: black;
    }

    div.teclado > button:nth-child(10) {
        margin-left: 33%;
    }

    div.espaco_custom_button {
        padding-top: 47.7%;
    }

    div.corpo_mensagem {
        width: 95%;
    }

    div.corpo_progresso {
        padding: 2%;
    }

    div.lista-programas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;
        padding: 2%;
    }

    div.lista-programas > button {
        background-color: black;
        color: yellow;
        border: 2px solid yellow;
        padding: 15px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        cursor: pointer;
        text-align: center;
    }

    div.lista-programas > button:hover {
        background-color: yellow;
        color: black;
    }

    div.lista-programas > div {
        position: fixed;
        background-color: white;
        display: none;
        width: 30%;
        z-index: 1000;
    }
</style>

<script>
    $(document).ready(() =>
    {
        $("input[type='hidden']#timer").val("00:00");
        $("input[type='hidden']#potencia").val("0");
        $("input[type='hidden']#Id").val("0");

        $("#btn-timer").on("click",() =>
        {
            $("div.digital-display:first").html($("input[type='hidden']#timer").val());
            $("input[type='hidden']#timer").addClass("select");
            $("input[type='hidden']#potencia").removeClass("select");
            $("div.teclado").css("display","block");
            $("div.botoes_plusminus").css("display","none");
        });

        $("#btn-potencia").on("click",() =>
        {
            $("div.digital-display:first").html($("input[type='hidden']#potencia").val());
            $("input[type='hidden']#timer").removeClass("select");
            $("input[type='hidden']#potencia").addClass("select");
            $("div.teclado").css("display","none");
            $("div.botoes_plusminus").css("display","block");
        });

        $("div.teclado > button.teclado-button").on("click", (event) =>
        {
             let obj = event.target;
             let timerval = $("input[type='hidden']#timer").val();
             let _obj = $("input[type='hidden']#timer").eq(0);
             $(_obj).val(timerval.substring(1) + $(obj).text());
             _keyupnum(_obj,["0","0",":","0","0"],4);
             $("div.digital-display:first").html($(_obj).val());
        });

        $("div.botoes_plusminus > button#btn-minus").on("click",() =>
        {
             let obj = $("input[type='hidden']#potencia").eq(0);
             $(obj).val(parseInt($(obj).val()) - 1);
             $("div.digital-display:first").html($(obj).val());
        });

        $("div.botoes_plusminus > button#btn-plus").on("click",() =>
        {
             let obj = $("input[type='hidden']#potencia").eq(0);
             $(obj).val(parseInt($(obj).val()) + 1);
             $("div.digital-display:first").html($(obj).val());
        });

        //Botão Aquecimento
        $("button#btn-aquecimento").on("click",(event) =>
        {
            //desabilita todos os botões
            $("button").prop("disabled",true);
            //habilita aquecimento
            $(event.target).prop("disabled",false);
            //Habilita botão pausa.
            $("#btn-pausa").prop("disabled",false);

            let id = $("input[type='hidden']#Id").val();
            let tempo = $("input[type='hidden']#timer").val();
            let potencia = $("input[type='hidden']#potencia").val();

            let dados = { Id: id, Tempo: tempo, Potencia: potencia };

            ajaxjson("/MicroOndas/PostAquecimento", "POST", dados, (data) =>
            {
               $("label.mensagem").text(data.retorno);
               $("label.mensagem").css("color", data.cor);
            });

        });

        //Botão inicio Rápido
        $("button#btn-iniciorapido").on("click",(event) =>
        {
             //desabilita todos os botões
             $("button").prop("disabled",true);
             //habilita aquecimento
             $("button#btn-aquecimento").prop("disabled",false);
              //Habilita botão pausa.
             $("#btn-pausa").prop("disabled",false);

            $("input[type='hidden']#Id").val("0");
            $("input[type='hidden']#timer").val("00:30");
            $("input[type='hidden']#potencia").val("10");             
             
            $("button#btn-aquecimento").trigger("click");
        });

         //Botão Pausa/Cancelamento
         $("button#btn-pausa").on("click",(event) =>
         {
              ajaxjson("/MicroOndas/GetPausa", "Get", {}, (data) =>
              {
                 $("label.mensagem").text(data.retorno);
                 $("label.mensagem").css("color", data.cor);
              });
         });

         //Carrega Programas padrão
         ajaxjson("/MicroOndas/GetDadosPrograma", "Get", {}, (data) =>
         {
               $("div.lista-programas").html(data.retorno);
               $("div.lista-programas").append('<div class="dadosprograma"></div>');

                //Clique no botão programa
                $("div.lista-programas > button").on("click",clickBotaoPrograma);
         });

         $("#btn-timer").trigger("click");

        dalayTimer();
    });

     let dalayTimer = async () =>
         {
            do
            {
                let id = $("input[type='hidden']#Id").val();
                let dados =
                {
                    Id: id
                };

                ajaxjson("/MicroOndas/PostProgresso", "POST", dados, (data) =>
                 {
                    if(data.cor == "yellow")
                    {
                         $("label.texto_progresso").text(data.retorno);
                         $("label.texto_progresso").css("color",data.cor);
                    }
                    else if(data.cor == "blue" || data.cor == "green")
                    {
                         //habilita todos os botões
                         $("button").prop("disabled",false);

                         $("label.mensagem").text(data.retorno);
                         $("label.mensagem").css("color",data.cor);
                    }
                 });

               await new Promise(resolve => setTimeout(resolve, 1000));
            }
            while(true);
         };

     let clickBotaoPrograma = (event) =>
     {
         let obj = event.target;
         let id = $(obj).attr("id");

         ajaxjson("/MicroOndas/PostDadosProgramaPorId", "POST", {Id:id}, (data) =>
         {
               $("input[type='hidden']#Id").val(data.id);
               $("input[type='hidden']#timer").val(data.tempo);
               $("input[type='hidden']#potencia").val(data.potencia);

               $("button#btn-aquecimento").trigger("click");
         });
     };

    let OnMouseEnter = (obj) =>
    {
         let coord = coordenadas(obj);

         let x = coord.right;
         let y = coord.bottom;
         let id = $(obj).attr("id");

         $("div.lista-programas > div").css("top",y);
         $("div.lista-programas > div").css("left",x);
         $("div.lista-programas > div").css("padding","2%");

         ajaxjson("/MicroOndas/PostDescricaoPrograma", "POST", {Id:id}, (data) =>
         {
             $("div.lista-programas > div").html(data.retorno);
         });

         $("div.lista-programas > div").css("display","block");

    };

    let OnMouseLeave = (obj) =>
    {
          $("div.lista-programas > div").css("display","none");
    };

</script>

<div class="corpo_mensagem">
    <label class="mensagem"></label>
</div>
<div class="microondas">
    <div class="nivel01 esquerda">
        <div class="corpo_progresso">
            <label class="texto_progresso"></label>
        </div>
        <div class="lista-programas">
        </div>
    </div>
    <div class="nivel01 direita">
        <div class="digital-display"></div>
        <div class="botoes">
            <button id="btn-timer" class="custom-button">Timer</button>
            <button id="btn-potencia" class="custom-button">Potência</button>
        </div>
        <div class="teclado">
            @for (int i = 1; i <= 9; i++)
            {
                <button class="@i teclado-button">@i</button>
            }
            <button class="0 teclado-button">0</button>
        </div>
        <div class="botoes_plusminus">
            <button id="btn-minus" class="custom-button">-</button>
            <button id="btn-plus" class="custom-button">+</button>
            <div class="espaco_custom_button"></div>
        </div>
        <div class="botoes_acoes">
            <button id="btn-aquecimento" class="custom-button">Aquecimento</button>
            <button id="btn-iniciorapido" class="custom-button">Inicio Rápido</button>
            <button id="btn-pausa" class="custom-button">Pausa/Cancelamento</button>
        </div>
    </div>
    <input type="hidden" id="timer" class="hdisplay" />
    <input type="hidden" id="potencia" class="hdisplay" />
    <input type="hidden" id="Id" class="hdisplay" />
</div>